* {
	font-family: 'Lato', sans-serif;
}

.img-center {
	margin: 0 auto;
}
.navbar-default {
    border-color: transparent !important;
    background: #ffffff !important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;
    font-size: 20px;
}
.navbar-default .navbar-toggle {
    background-color: transparent !important;
    border-color: transparent !important;
    margin-top: 28px;
}

/*Portfolio*/
#sobre h2,
#padawans h2 {
	text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 54px;
}
.box-projetos img {
	width: 100%;
}
.box-projetos {
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}
.box-projetos .mask, .box-projetos .content {
    position: absolute;
    overflow: hidden;
    top: 0;
    width: 100%;
    bottom: 0;
}
.box-projetos img {
    display: block;
    position: relative;
    width: 100%;
}
.box-projetos img { 
    transition: all 0.2s linear;
}
.box-projetos .mask {
    opacity: 0;
    background-color: rgba(215, 168, 22, 0.8); 
    transition: all 0.4s ease-in-out;
}
.box-projetos:hover img { 
	transform: scale(1.1);
}
.box-projetos:hover .mask { 
	opacity: 1;
}
.box-projetos .mask h4 {
	color: #2b2019;
    font-size: 18px;
    line-height: 330px;
}

/*Sobre*/
#sobre {
    color: #2b2019;
    padding-top: 100px;
    padding-bottom: 100px;
}
#sobre h2 {
    margin-bottom: 20px;
}
#sobre p {
    padding-left: 200px;
    padding-right: 200px;
    text-align: justify;
    font-size: 18px;
}

/*Padawans*/
#padawans {
    background: #eeeeee;
    text-align: center;
    padding-bottom: 170px;
}
#padawans h2 {
    margin-top: 80px;
    margin-bottom: 50px;
}
#padawans h4 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 50px;
}
#padawans p {
    font-size: 16px;
    padding: 0px 100px 0px 100px;
    line-height: 28px;
}

/*Contato*/
#contato {
    background: #2c2c2c;
    color: #ffffff;
    text-align: center;
    padding-bottom: 100px;
}
#contato h2 {
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 40px;
}
#contato h5 {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 70px;
}
#contato p {
    font-size: 22px;
}
#contato img {
    margin-right: 20px;
}

/*Copyright*/
.copyright {
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 20px;
}
.copyright p {
    line-height: 30px;
}
.copyright .nois {
    margin-top: 40px;
    text-align: right;
}

/*Projeto*/
#menu-projeto .navbar-default {
    position: absolute !important;
    top: 0;
    background: transparent !important;
    width: 100%;
}
#menu-projeto img {
    width: 100%;
}
#menu-projeto .navbar-default .navbar-nav>li>a {
    color: #ffffff !important;
    font-size: 20px;
    margin-top: 10px;
}
#menu-projeto .ham:after, #menu-projeto .ham:before {
    background: #ffffff !important;
}
#menu-projeto .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff !important;
}
#menu-projeto .menu-bar .ham {
    background: #ffffff !important;
}
#menu-projeto .menu-bar.exit .ham {
    background: transparent !important;
}
.conteudo-projeto {
    text-align: center;
    margin-top: 100px;
}
.conteudo-projeto p {
    font-size: 20px;
    text-align: justify;
}
.conteudo-projeto img {
    margin-top: 100px;
}
.rodape-projeto {
    text-align: center;
    border-bottom: 4px solid;
}
.rodape-projeto img {
    margin-top: 100px;
    margin-bottom: 100px;
}


@media(max-width:767px){
    #sobre h2, #padawans h2 {
        font-size: 35px;
    }
    #sobre p {
        padding-left: 0px;
        padding-right: 0px;
    }
    #padawans p {
        padding-left: 0px;
        padding-right: 0px;
    }
    #padawans h4 {
        font-size: 30px;
    }
    #contato h2 {
        font-size: 28px;
    }
    #contato h5 {
        font-size: 20px;
    }
    #contato p {
        font-size: 18px;
    }
    .copyright {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        font-size: 18px;
    }
    .copyright .nois {
        text-align: center;
    }
}
@media(min-width:768px){
    .navbar-default {
        background: #ffffff !important;
        border-color: transparent !important;
    }

    .container-fluid,
    .colunas-portfolio {
        padding: 0 !important;
    }

    #menu {
        height: 110px;
    }
    .navbar {
        min-height: 110px !important;
    }
    ul.nav.navbar-nav.navbar-right.active {
        position: relative;
        top: 32px;
        margin-right: 20px;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 18px;
        color: #2c2c2c !important;
    }
    #menu .navbar-brand img {
        padding-top: 12px;
    }
        .menu-bar {
        position: relative;
        display: block;
        float: right;
        margin-left: 33.5px;
        top: -15px;
    }
    .ham {
        background-color: #fff;
        display: inline-block;
        width: 23px;
        height: 2px;
        position: relative;
        top: 2px;
        vertical-align: bottom;
        background: #2b2019;
        -webkit-transition: all ease .3s;
        -moz-transition: all ease .3s;
        -o-transition: all ease .3s;
        transition: all ease .3s;
    }
    .ham:after, .ham:before {
        position: absolute;
        content: '';
        display: inline-block;
        width: 23px;
        height: 2px;
        -webkit-transition: all ease .3s;
        -moz-transition: all ease .3s;
        -o-transition: all ease .3s;
        transition: all ease .3s;
        outline: 1px solid transparent;
        left: 0;
        background: #2b2019;
        
    }
    .ham:before {
        top: -8px;
    }
    .ham:after {
        top: 8px;
    }
    .exit {
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none;
        animation: none;
    }
    .exit .ham:before {
        -webkit-transform: translateY(8px) rotateZ(-45deg);
        -moz-transform: translateY(8px) rotateZ(-45deg);
        -ms-transform: translateY(8px) rotateZ(-45deg);
        -o-transform: translateY(8px) rotateZ(-45deg);
        transform: translateY(8px) rotateZ(-45deg);
    }
    .exit .ham:after {
        -webkit-transform: translateY(-8px) rotateZ(45deg);
        -moz-transform: translateY(-8px) rotateZ(45deg);
        -ms-transform: translateY(-8px) rotateZ(45deg);
        -o-transform: translateY(-8px) rotateZ(45deg);
        transform: translateY(-8px) rotateZ(45deg);
    }
    .menu-bar.exit .ham {
        background-color: transparent!important;
    }
    .nav {
        display: none;
    }
    .active {
        display: block;
    }
    .conteudo-projeto p {
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media(min-width:992px){
    .conteudo-projeto p {
        padding-left: 200px;
        padding-right: 200px;
    }
}
@media(min-width:1200px){}



